{% assign margin 			= block.settings.margin | split: "|" %}
{% assign padding 			= block.settings.padding | split: "|" %}
<style>
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-block-{{ block.id }} .wpbingo-marquee-text-item{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1199px){
			#shopify-block-{{ block.id }} .wpbingo-marquee-text-item{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-block-{{ block.id }} .wpbingo-marquee-text-item{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-block-{{ block.id }} .wpbingo-marquee-text-item{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
	#shopify-block-{{ block.id }} .wpbingo-marquee-text-item {
		font-size:{{ block.settings.font_size }}px;
		line-height:{{ block.settings.line_height }}px;
		font-weight:{{ block.settings.font_weight }};
		letter-spacing:{{ block.settings.letter_spacing }}px;
		color:{{ block.settings.color }};
		font-family:var({{ block.settings.font }});
	}
	@media (max-width:1199px){
		#shopify-block-{{ block.id }} .wpbingo-marquee-text-item{
		font-size:{{ block.settings.font_size_lap }}px;
		line-height:{{ block.settings.line_height_lap }}px;
		text-align:{{ block.settings.align_lap }};
		}
	}
	@media (max-width:991px){
		#shopify-block-{{ block.id }} .wpbingo-marquee-text-item{
		font-size:{{ block.settings.font_size_tab }}px;
		line-height:{{ block.settings.line_height_tab }}px;
		text-align:{{ block.settings.align_tab }};
		}
	}
	@media (max-width:767px){
		#shopify-block-{{ block.id }} .wpbingo-marquee-text-item{
		font-size:{{ block.settings.font_size_mobi }}px;
		line-height:{{ block.settings.line_height_mobi }}px;
		letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
		color:{{ block.settings.color_mobi }};
		text-align:{{ block.settings.align_mobi }};
		}
	}
</style>
<a href="{{block.settings.marquee_url}}">
    <span class="wpbingo-marquee-text-item">{{ block.settings.marquee_text }}</span>
</a>
{% schema %}
  {
    "name": "Title marquee",
    "settings": [
        {
            "type": "text",
            "id": "marquee_text",
            "label": "Content",
            "default": "Marquee title"
        },
        {
            "type": "url",
            "id": "marquee_url",
            "label": "Url"
        },
        {
			"type": "textarea",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "textarea",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "header",
			"content": "Garenal",
		},
		{
			"type": "select",
			"id": "font",
			"label": "Font family",
			"options": [
				{
					"value": "--font-family-second",
					"label": "Font Heading"
				},
				{
					"value": "--font-family-base",
					"label": "Font Body"
				}
			],
			"default": "--font-family-second"
		},
		{
			"type": "color",
			"id": "color",
			"label": "color",
			"default": "#ffffff"
		},
		{
			"type": "number",
			"id": "font_size",
			"label": "Font size",
			"default": 60,
			"info": "px"
		},
		{
			"type": "number",
			"id": "line_height",
			"label": "Line height",
			"default": 70,
			"info": "px"
		},
		{
			"type": "number",
			"id": "letter_spacing",
			"label": "Letter spacing",
			"default": 0,
			"info": "px"
		},
		{
			"type": "text",
			"id": "font_weight",
			"label": "Font Weight",
			"default": "300"
		},
        {
			"type": "header",
			"content": "==Laptop",
			"info": "screen < 1199px"
		},
		{
			"type": "number",
			"id": "font_size_lap",
			"label": "Font size",
			"default": 30,
			"info": "px"
		},
		{
			"type": "number",
			"id": "line_height_lap",
			"label": "Line height",
			"default": 35,
			"info": "px"
		},
		{
			"type": "header",
			"content": "==Tablet",
			"info": "screen < 991px"
		},
		{
			"type": "number",
			"id": "font_size_tab",
			"label": "Font size",
			"default": 30,
			"info": "px"
		},
		{
			"type": "number",
			"id": "line_height_tab",
			"label": "Line height",
			"default": 35,
			"info": "px"
		},
		{
			"type": "header",
			"content": "==Mobile",
			"info": "screen < 767px"
		},
		{
			"type": "color",
			"id": "color_mobi",
			"label": "color",
			"default": "#ffffff"
		},
		{
			"type": "number",
			"id": "font_size_mobi",
			"label": "Font size",
			"default": 30,
			"info": "px"
		},
		{
			"type": "number",
			"id": "line_height_mobi",
			"label": "Line height",
			"default": 35,
			"info": "px"
		},
		{
			"type": "number",
			"id": "letter_spacing_mobi",
			"label": "Letter spacing",
			"default": 0,
			"info": "px"
		}
    ],
    "presets": [{"name": "Title marquee"}]
  }
{% endschema %}