{%- style -%}
	{%- assign padding = section.settings.padding -%}
	{%- assign padding = section.settings.padding -%}
	{%- assign logo_max_width = section.settings.logo_max_width -%}
	{% if section.settings.width_header != blank or padding != blank %}
		{% if section.settings.width_header != blank %}
			.bwp-header .header-desktop .container{
				max-width: {{ section.settings.width_header }};
			}
		{% endif %}
		.bwp-header .header-desktop {
			{% if padding != blank %}padding: {{ padding }};{% endif %}
		}
        @media (min-width:1199px){
    		body.template-index .bwp-header .header-divider .divider{
    			border-width:{{ section.settings.border_width }};
    			border-color:{{ section.settings.border_color }};
    			border-style:{{ section.settings.border_style }};
    			opacity: {{ section.settings.border_opacity }};
    		}
        }
	{% endif %}
	.header-logo img {max-width: {{ logo_max_width | append: 'px' }};}
	{% if section.settings.header_absolute %}
		@media (min-width:1199px){
			body.template-index .bwp-header{position:absolute;width:100%;z-index: 99;}
			body.template-index .bwp-header:not(.sticky) .header-desktop{background-color: transparent;}
			{% if section.settings.color_homepage_text %}
				body.template-index .bwp-header:not(.sticky) .header-desktop .main-menu__nav-item>a{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header:not(.sticky) .header-desktop .main-menu__nav-item>a span:before{
					background-color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header:not(.sticky) .header-desktop .search-toggle{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header:not(.sticky) .header-desktop .login-account{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header:not(.sticky) .header-desktop .header-account__title{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header:not(.sticky) .header-desktop  .header-cart__link{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header:not(.sticky) .header-desktop  .wishlist{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header:not(.sticky) .header-top{
					color:{{ section.settings.color_homepage_text }}
				}
				body.template-index .bwp-header:not(.sticky) .header-top a{
					color:{{ section.settings.color_homepage_text }}
				}
			{% endif %}
		}
	{% endif %}
	{% if section.settings.padding_menu != blank %}
		.bwp-header .header-menu {
			padding: {{ section.settings.padding_menu }};
		}
	{% endif %}
	.bwp-header .main-menu__nav {
		justify-content: {{ section.settings.horizontal_align }};
	}
{%- endstyle -%}

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="bwp-header header_1{% if section.settings.header_absolute %} header-absolute{% endif %}" data-sticky_header="{{ section.settings.header_sticky }}">
	<div class="header-desktop">
		<h1 class="d-none" itemprop="legalName">{{ shop.name }}</h1>
		<div class="container">
			<div class="header-center__inner {{ section.settings.header_align }}">
				<div class="header-logo" itemscope itemtype="http://schema.org/Organization">
					{%- assign current_iso_code = request.locale.iso_code  | split: "-" -%}
					{%- if request.locale.primary == true -%}
						{%- assign url = "" -%}
					{%- else -%}
						{%- assign url = current_iso_code[0] -%}
					{%- endif -%}
					{%- if section.settings.logo -%}
						<a href="/{{ url }}" itemprop="url" class="header-logo__link">
							{%- if section.settings.logo_homepage and template.name == "index" -%}
								<img class="header-logo__img logo-home"
									src="{{ section.settings.logo_homepage | image_url:width:section.settings.logo_homepage.width,height:section.settings.logo_homepage.height }}" 
									srcset="{{ section.settings.logo_homepage | image_url:width:section.settings.logo_homepage.width,height:section.settings.logo_homepage.height }}"
									alt="{{ section.settings.logo_homepage.alt | default: shop.name }}"
									width="{{ section.settings.logo_homepage.width }}"
									height="{{ section.settings.logo_homepage.height }}"
									itemprop="logo">
								<img class="header-logo__img logo-main"
									src="{{ section.settings.logo | image_url:width:section.settings.logo.width,height:section.settings.logo.height }}" 
									srcset="{{ section.settings.logo | image_url:width:section.settings.logo.width,height:section.settings.logo.height }}"
									alt="{{ section.settings.logo.alt | default: shop.name }}"
									width="{{ section.settings.logo.width }}"
									height="{{ section.settings.logo.height }}"
									itemprop="logo">
							{%- else -%}
								<img class="header-logo__img"
									src="{{ section.settings.logo | image_url:width:section.settings.logo.width,height:section.settings.logo.height }}" 
									srcset="{{ section.settings.logo | image_url:width:section.settings.logo.width,height:section.settings.logo.height }}"
									alt="{{ section.settings.logo.alt | default: shop.name }}"
									width="{{ section.settings.logo.width }}"
									height="{{ section.settings.logo.height }}"
									itemprop="logo">
							{%- endif -%}
						</a>
					{%- else -%}
						<a href="/{{ url }}" itemprop="url" class="header-logo__link header-logo__link--text">{{ shop.name }}</a>
					{%- endif -%}
				</div>
				<div class="header-menu">
					<div class="main-menu">
                      <nav class="main-menu__wrap">
                        <ul class="main-menu__nav">
                            {% content_for "blocks" %}
                        </ul>
                      </nav>
                    </div>
				</div>
				<div class="header-icons">
					<div class="header-page-link">
						{%- if section.settings.show_header_search -%}
							<div class="search-toggle"><i class="icon-search"></i></div>
							{% include 'header-search-toggle' %}
						{%- endif -%}
						{%- if section.settings.show_header_user -%}
							{% include 'header-account' %}
						{%- endif -%}
						{%- if section.settings.show_header_wishlist -%}
							<a class="wishlist" href="{{  section.settings.page_wishlist.url }}" data-count-wishlist><i class="icon-wishlist"></i><span class="count"></span></a>
						{%- endif -%}
						{%- if section.settings.show_header_cart -%}
							{% include 'header-cart' %}
						{%- endif -%}
					</div>
				</div>
			</div>
		</div>
	</div>
	{%- if section.settings.header_divider -%}
		<div class="header-divider">
			<div class="container">
				<div class="divider"></div>
			</div>
		</div>
	{% endif %}
	{% include 'header-mobile' %}
</div>

{% schema %}
{
  "name": "Header 1",
  "blocks": [{ "type": "_mainmenu-item" }],
  "settings": [
    {
		"type": "header",
		"content": "Layout Settings"
    },
	{
		"type": "text",
		"id": "width_header",
		"label": "Container Header",
		"default": "1440px"
    },
    {
		"type": "text",
		"id": "padding",
		"label": "Padding",
		"placeholder": "60px 0px 60px 0px",
		"default": "60px 0"
    },
	{
      "type": "checkbox",
      "id": "header_sticky",
      "label": "Header Sticky"
    },
	{
      "type": "checkbox",
      "id": "header_absolute",
      "label": "Header absolute",
	  "info": "Only use for homepage"
    },
	{
      "type": "color",
      "id": "color_homepage_text",
      "label": "Header color",
      "default": "#fff",
	  "info": "Only use for Header absolute"
    },
	{
      "type": "header",
      "content": "Settings Header"
    },
	{
		"type": "select",
		"id": "header_align",
		"label": "Header align",
		"options": [
			{
				"value": "menu-logo-icons",
				"label": "Left"
			},
			{
				"value": "logo-menu-icons",
				"label": "Center"
			},
			{
				"value": "logo-icons-menu",
				"label": "Right"
			}
		],
		"default": "menu-logo-icons"
	},
	{
		"type": "header",
		"content": "Header Divider"
    },
	{
        "type": "checkbox",
        "id": "header_divider",
        "label": "Turn on divider",
        "default": false
    },
    {
        "type": "text",
        "id": "border_width",
        "label": "Border width",
        "default": "0px 0px 0px 0px",
        "info": "top right bottom left"
    },
    {
        "type": "select",
        "id": "border_style",
        "label": "Border Style",
        "options": [
            {
                "value": "none",
                "label": "None"
            },
            {
                "value": "solid",
                "label": "Solid"
            },
            {
                "value": "dashed",
                "label": "Dashed"
            },
            {
                "value": "dotted",
                "label": "Dotted"
            },
            {
                "value": "double",
                "label": "Double"
            }
        ],
        "default": "solid"
    },
	{
        "type": "color",
        "id": "border_color",
        "label": "Border color",
        "default": "#fff"
    },
	{
		"type": "text",
		"id": "border_opacity",
		"label": "Border opacity",
		"default": "1",
		"info": "Enter a value between 0 and 1 (e.g., 0.15 or 0.12)"
	},
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo_homepage",
      "label": "Logo Homepage",
	  "info":"use if you want to enter a different logo for homepage"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 260,
      "step": 5,
      "unit": "px",
      "default": 135
    },
	{
      "type": "header",
      "content": "Menu"
    },
	{
		"type": "select",
		"id": "horizontal_align",
		"label": "Header align",
		"options": [
			{
				"value": "left",
				"label": "Left"
			},
			{
				"value": "center",
				"label": "Center"
			},
			{
				"value": "right",
				"label": "Right"
			}
		],
		"default": "left"
	},
	{
		"type": "text",
		"id": "padding_menu",
		"label": "padding",
		"default": "0px 0px 0px 0px",
		"placeholder":"0px 0px 0px 0px"
	},
	{
      "type": "header",
      "content": "Icons"
    },
	{
      "type": "checkbox",
      "id": "show_header_search",
      "label": "Show search box",
      "default": true
    },
	{
      "type": "header",
      "content": "wishlist"
    },
	{
      "type": "checkbox",
      "id": "show_header_wishlist",
      "label": "Show wishlist",
      "default": true
    },
	{
	  "type": "page",
	  "id": "page_wishlist",
	  "label": "Select page wishlist"
	},
    {
      "type": "header",
      "content": "Header User"
    },
    {
      "type": "checkbox",
      "id": "show_header_user",
      "label": "Show header user",
      "default": true
    },
    {
      "type": "text",
      "id": "header_user_title",
      "label": "Heading",
      "default": "Account"
    },
    {
      "type": "link_list",
      "id": "header_user_link_list",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "show_header_cart",
      "label": "Show header cart",
      "default": true
    }
  ]
}
{% endschema %}
